
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>
    <title>Engineering</title>
</head>
<body>
    <div class=text-left>
        <label for="lblProjectCode">Project Code :</label>
        <input type="text" class="form-control" name="Project Code" required="" />
        &nbsp;
        <label for="lblMakerNo">Maker No:</label>
        <input type="text" class="form-control" name="Maker No:" required="" />

        &nbsp;
        <label for="lblapg">APG/EQUP ID:</label>
        <input type="text" class="form-control" name="APG/AQUP ID" required="" />
        &nbsp;
        <label for="lblEquip">Equipment Name:</label>
        <input type="text" class="form-control" name="Equipment Name" required="" />
        &nbsp;
        <label for="lbldraw">Drawing No:</label>
        <input type="text" class="form-control" name="Drawing No" required="" />
        &nbsp;
        <br />
        <hr />
        <label for="lblPLNO">Part List No:</label>
        <input type="text" class="form-control" name="Part List No" required="" />
        &nbsp;
        <label for="lblstatus">Drawing No:</label>
        <input type="text" class="form-control" name="status" required="" />
        &nbsp;
        <label for="lblrevno">Rev No:</label>
        <input type="text" class="form-control" name="Rev No" required="" />
        &nbsp;
        <label for="lblRevdate">Rev Date:</label>
        <input type="text" class="form-control" name="Rev Date" required="" />
    </div>
</body>
</html>

