
@*@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div id="logo" style="height:100px; width:350px;"> 
        <a href="@Url.Action("","Home")">
            <img src="~/Icons/1.png" alt="" />
        </a>
        </div>
    <div id="logo" style="height:100px; width:350px;">
        <a href="@Url.Action("About","Home")">
            <img src="~/Icons/marketing.png" />
        </a>
        
        </div>
    <div is="logo" style="height:100px; width:350px;">
        <a href="@Url.Action("Contact","Home")">
            <img src="~/Icons/Proposal.jpg" />
        </a>"


    </div>
    <a href="@Url.Action("Contact","Home")">
    <img src="~/Icons/eng.png" />
    <div>

    </div>
</body>
</html>*@
